.App {
  font-family: sans-serif;
  text-align: center;
}

.the_app {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffff;
  min-height: 500px;
  border: 1px solid #251d92;
  border-radius: 5px;
}

.form_container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0.75rem;
  /*border-top: 1px solid #251d92;
      border-bottom: 2px solid #251d92;*/
}

.header {
  max-width: 970px;
  margin: 0 auto;
  padding: 0.75rem;
  border-top: 2px solid #251d92;
}
